<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="/public/css/pertama.css"> -->
    <link rel="stylesheet" href="/css/pertama.css">
    <title>Document</title>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark text-light position-absolute top-0 start-0 end-0" style="background: rgba(33,37,41,0.5);" >
        <div class="container">
          <a class="navbar-brand fw-bold" style="letter-spacing: 2px;"href="#">LOGO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> 
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto me-auto">
              <li class="nav-item me-3">
                <a class="nav-link active" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link active" href="#">WORK</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link active" href="#">CONTACT</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link active" href="#">ABOUT ME</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item ">
                <a class="nav-link active" href="#">SIGN UP</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active" href="#">LOGIN</a>
              </li> 
            </ul>
          </div>
        </div>
      </nav>
      <!-- Akhir Navbar -->

    <!-- Home -->
    <section class="jumbotron text-center text-white ">
      <div class="jumbo1 ">
        <h1 class="display-3 text-uppercase fw-bold mb-3" style="letter-spacing: 3px" >Play traditional game</h1>  
        <p class="fs-5 mb-4">Experience new traditional game play</p>
        <a class="btn btn-warning pt-2 pb-2 ps-5 pe-5 mt-2 fw-bold" href="game.html" role="button">PLAY NOW</a>
      </div>
        <div class="scroll">
          <p class="text-uppercase"> the story</p>
          <img src="/public/assets/scroll-down.svg" alt="">
        </div>
    </section>
    <!-- Akhir Home -->

    <!-- Game info -->
    <section id="game-info">
      <div class="properti text-white">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h4 style="letter-spacing:2px">What's so special?</h4>
              <h1 class="text-uppercase display-5" style="letter-spacing: 4px">The Games</h1>
            </div>
            <div class="col-md-8 mt-4">
              <div class="d-inline">
                <img class="me-1" style="margin-top: 135px;" src="/public/assets/switch-left.svg" alt="" >
                <img class="position-absolute git" src="/public/assets/properti.jpg" alt="" width="600px" >  
                <img src="/public/assets/ellipse.svg" class="position-absolute" style="margin-top: 275px; margin-left: 220px;" alt="">
                <img src="/public/assets/ellipse-outline.svg" class="position-absolute" style="margin-top: 275px; margin-left: 270px;" alt="">
                <img src="/public/assets/ellipse-outline.svg" class="position-absolute" style="margin-top: 275px; margin-left: 320px;" alt="">
                <img src="/public/assets/ellipse-outline.svg" class="position-absolute" style="margin-top: 275px; margin-left: 370px;" alt="">
                <img src="/public/assets/ellipse-outline.svg" class="position-absolute" style="margin-top: 275px; margin-left: 420px;" alt="">
                <img class="position-relative" style="margin-left: 610px; margin-top:135px" src="./publicassets/switch-right.svg" alt=""
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Akhir Game Info -->


    <!-- Game Feature -->
    <section id="fitur" >
      <div class="container">
        <div class="row text-white justify-content-end fitur-content">
          <div class="col-3 fitur-info mb-2">
            <div style="letter-spacing:2px">What's so special?</div>
            <div class="text-uppercase fs-1" style="letter-spacing:3px">Features</div>
          </div>
        </div>

        <div class="row justify-content-end fitur-timeline">
          <div class="col-5 fitur-timeline-content">
            <div class="fitur-1">
              <img class="mb-2 me-4" src="/public/assets/ellipse.svg" alt=""> 
              <span class="text-warning fs-4 text-uppercase" style="letter-spacing:2px ;">Traditional games</span>
            </div> 
            <div class="fitur-2">
              <p class="text-white ms-5 mt-2">If you miss your childhood, we provide <br>many traditional games here</p>
            </div>
            <div class="fitur-3 mt-5">
              <img class="mb-2 me-4" src="/public/assets/ellipse-outline.svg" alt=""> 
              <span class="text-warning fs-4 text-uppercase ">Game suit</span>
            </div>
            <div class="fitur-3 mt-4">
              <img class="mb-2 me-4" src="/public/assets/ellipse-outline.svg" alt=""> 
              <span class="text-warning fs-4 text-uppercase ">tbd</span>
            </div>
          </div>
      </div>
    </section>
    <!-- Akhir Game Feature -->

      <!-- Requirements -->
    <section id="sistem" class="text-white">
      <div class="container">
        <div class="row head">
          <div class="col-md-4">
            <h1 class="text-uppercase" style="letter-spacing: 4px;">system requirements</h1>
          </div>
          <div class="col-md-4" style="letter-spacing: 2px;">
            <p>Can My Computer Run this game?</p>
          </div>
        </div>
      </div>
      <div class="container spesifikasi">
        <table class="table-md table-bordered text-white"  cellpadding="10">
          <tbody>
            <tr >
            <td>
              <h5 class="text-warning">OS:</h5>
              <p>Windows 7 64-bit only <br>(No OSX support at this time)</p>
            </td>
            <td>
              <h5 class="text-warning text-uppercase">processor:</h5>
              <p>Intel Core 2 Duo @ 2.4 GHZ or <br>AMD Athlon X2 @ 2.8 GHZ</p>
            </td>
            </tr>
            <tr>
            <td>
              <h5 class="text-warning text-uppercase">memory:</h5>
              <p>4 GB RAM</p>
            </td>
            <td>
              <h5 class="text-warning text-uppercase">storage:</h5>
              <p>8 GB available space</p>
            </td>
            </tr>
            <tr>
            <td colspan="2">
              <h5 class="text-warning text-uppercase">graphics:</h5>
              <p>NVIDIA GeForce GTX 660 2GB or <br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
            </td>
      
            </tr>
          </tbody>
          </table>  
      </div>
    </section>
    <!-- Akhir Requirements -->

    <!-- Top scores -->
    <section class="top-scores text-white">
      <div class="container ">
        <div class="row top-scores-left justify-content-between ">

          <div class="col-md-4 position-relative" style="margin-top: 10rem;">
            <h1 class="text-uppercase" style="letter-spacing: 3px">top scores</h1>  
            <p class="fs-6 mt-3 mb-4">This top score from various games provided on this platform</p>
            <a class="btn btn-warning pt-2 pb-2 ps-5 pe-5 mt-2 fw-bold" href="#" role="button">see more</a>
          </div>

          <div class="col-md-6 ">
            <div class="row mb-3" style="margin-left: 80px;">
              <div class="card bg-dark" style="width: 25rem; height: 10.5rem; ">
                <div class="card-body" style="margin-left: -10px">
                  <img src="/public/assets/evan-lahti.jpg" class="card-img-left rounded-circle position-absolute" width="60px" style="z-index: 1; margin-left: -7px; margin-top: -3px" alt="evan-lahti">
                  <img src="/public/assets/ellipse-orange.png" class="card-img-left rounded-circle position-absolute" width="60px"  alt="">
                  <img src="/public/assets/twitter.svg" class="card-img-left rounded-circle position-absolute" style="right: 10px" alt="">
                  <div class="name mt-2" style="margin-left: 80px;">
                    <h5 class="card-title text-warning" style="letter-spacing: 2px;">Evan Lahti</h5>
                    <p style="margin-top: -10px; color:grey">PC Gamer</p>
                  </div>
                  <div class="text">
                    <p class="card-text mt-4">"One of my gaming highlights of the year"</p>
                    <p style="font-size: 0.8em;">October 18, 2018</p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="row mb-3" style="margin-right: 30px;">
              <div class="card bg-dark" style="width: 25rem; height: 11.5rem; ">
                <div class="card-body" style="margin-left: -10px">
                  <img src="/public/assets/jada-griffin.jpg" class="card-img-left rounded-circle position-absolute" width="60px"style="z-index: 1; margin-left: -7px; margin-top: -3px" alt="jada-griffin">
                  <img src="/public/assets/ellipse-orange.png" class="card-img-left rounded-circle position-absolute" width="60px" alt="">
                  <img src="/public/assets/twitter.svg" class="card-img-left rounded-circle position-absolute" style="right: 10px" alt="">
                  <div class="name mt-2" style="margin-left: 80px;">
                    <h5 class="card-title text-warning" style="letter-spacing: 2px;">Jada Griffin</h5>
                    <p style="margin-top: -10px; color:grey">Nerdreactor</p>
                  </div>
                  <div class="text">
                    <p class="card-text mt-3">"The next big thing in the world of streaming and survival games"</p>
                    <p style="font-size: 0.8em;">December 21, 2018</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" style="margin-left: 50px;">
              <div class="card bg-dark" style="width: 25rem; height: 11.5rem; ">
                <div class="card-body" style="margin-left: -10px">
                  <img src="/public/assets/aaron-williams.jpg" class="card-img-left rounded-circle position-absolute" width="60px"style="z-index: 1; margin-left: -7px; margin-top: -3px" alt="evan-lahti">
                  <img src="/public/assets/ellipse-orange.png" class="card-img-left rounded-circle position-absolute" width="60px" alt="">
                  <img src="/public/assets/twitter.svg" class="card-img-left rounded-circle position-absolute" style="right: 10px" alt="">
                  <div class="name mt-2" style="margin-left: 80px;">
                    <h5 class="card-title text-warning" style="letter-spacing: 2px;">Aaron Williams</h5>
                    <p style="margin-top: -10px; color:grey">Uproxx</p>
                  </div>
                  <div class="text">
                    <p class="card-text mt-3 text-capitalize">"Snoop dogg playing the wildly entertaining 'SOS' is ridiculous"</p>
                    <p style="font-size: 0.8em;">December 24, 2018</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
       </div>
    </section>
    <!-- Akhir Top scores -->

    <!-- Newsletter -->
    <section class="newsletter">
      <div class="container text-white">
        <div class="row justify-content-evenly">
          <div class="col-md-3 float-left" style="margin-top: 5rem; margin-left: 5rem;">
            <img src="/public/assets/skull.png" alt="skull" width="100%">
          </div>

          <div class="col-6 float-right" style="margin-top: 7rem;">
            <div>
              <p style=" letter-spacing: 2px;">Want to stay in<br> touch? </p>
              <h1 class="text-uppercase" style=" letter-spacing: 2px;">Newsletter subscribe</h1>
              <p style="font-size:0.9em;">In order to start receiving our news, all you have to do is enter your email <br> address. Everything else will be taken care of by us. We will send you emails <br>containing information about game. We don't spam.</p>
            </div>

            <div class="news-email ">
              <div class="card bg-dark position-absolute" style="width: 16rem; height: 3rem;">
                <div class="card-body" >
                  <p style="font-size:0.7em; margin-top: -10px; margin-bottom: -1px; color:grey">Your email address</p>
                  <p class="text-warning" style="font-size:0.9em;">youremail@binar.co.id</p>
                </div>
              </div>
              <button class="btn btn-warning fw-bold position-absolute" style="right:14rem; width: 14rem; height: 3rem;" href="">Subcribe now</button>
            </div>  
      </div>
      
      <footer class="footer">
        <div class="link text-uppercase position-relative mt-5 mb-4" style="font-size:0.7em; letter-spacing: 1px; padding-left: 14rem;">
          <a class="link active" href="#">Main</a>
          <a class="link active" href="#game-info">About</a>
          <a class="link active" href="#fitur">Game Features</a>
          <a class="link active" href="#sistem">System Requirements</a>
          <a class="link active me-5" href="#">Quotes</a>
          <a class="link active" href="#"><img src="/public/assets/facebook.svg" alt="facebook" width="7"></a>
          <a class="link active" href="#"><img src="/public/assets/twitter.svg" alt="facebook"></a>
          <a class="link active" href="#"><img src="/public/assets/vector.svg" alt="facebook" width="18"></a>
          <a class="link active" href="#"><img src="/public/assets/twitch.svg" alt="facebook" width="15"></a>
        </div><hr>
          <div class="copyright">
            <div class="row">
              <div class="col">
                <p style="font-size:0.7em; color:grey">&copy; 2018, Your Games, Inc. All Rights Reserved</p>
              </div>
              <div class="col">
                <p class="position-absolute text-uppercase" style="font-size:0.7em; right:7.5rem; color:grey">privacy policy | terms of service | code of conduct</p>
              </div>
            </div>
        </div>
      </footer>
    </section>
    <!-- Akhir Newsletter -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>