html, body {
  height: 100%;
  width: 100%;
  font-family: "arial";
}

.nav-link {
  font-size: 13px;
  letter-spacing: 1.5px;
}

.jumbotron {
  background-image: url(/public/assets/main-bg.jpg);
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.jumbotron h1 {
  padding-top: 13rem;
}

.scroll {
  padding-top: 10rem;
}
@media (max-width:630px){
  .scroll{padding-top:6rem}
}

#game-info {
  background-image: url(/public/assets/the-games-bg.jpg);
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.properti{
  padding-top: 9.5rem;
}

#fitur {
  position: relative;
  background-image: url(/public/assets/features.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

#fitur::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: white;
  top: 240px;
  bottom: 287px;
  left: 789.5px;
}

@media(max-width:1365px){
  #fitur::after{display: none;}
}

.fitur-content{
    padding-top: 8rem;
    padding-right: 16rem
}

#sistem{
  background-image: 
  radial-gradient(closest-side at 60% 55%, rgba(0,0,52,0)0%,
  rgba(10,10,10,0.50)50%,#000 95%),
  url(/public/assets/requirements.png);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.head {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.top-scores{
  background-image: url(/public/assets/top-score-bg.png);
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  
}

.top-scores .container{
  padding-top: 50px;
}

@media (max-width: 1100px){
  .properti{padding-top:6rem}
}

.newsletter{
  background-image: url(/public/assets/newsletter.png);
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

.link {
  text-decoration: none;
  color: white;
}
.link a {
  margin: 0 1rem;
}